[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
djangorestframework = "*"
pillow = "*"
pyjwt = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
